@model IEnumerable<Dashboard_Times.Models.Time>
<link href="~/css/times.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Teams";
}
<html>
    <body>
        <div class="titulo">
            <h1>Teams</h1>
        </div>

        <div class="header">
            <div class="container1">
                <a asp-area="" asp-controller="Time" asp-action="CadastrarTime">
                    <button type="button">
                        <i class="fas fa-plus"></i> <!-- + -->
                        New Team
                    </button>
                </a>
            </div>

            <div class="container1">
                <button id="btnExcel" onclick="window.location.href='@Url.Action("ExportarParaExecel", "Time")'">
                        <i class="fas fa-download"></i>
                        Download
                </button>
            </div>

            <form method="get" asp-action="Index">
                <div class="container2">
                    <div>
                        <h2>Filter:</h2>
                    </div>
                    <div class="search-container">
                        <input value="@ViewBag.txtTermo" name="termo" type="text" placeholder="Enter Team Code or Name" />
                        <button type="submit">
                            <i class="fas fa-search"></i> <!-- Lupa -->
                        </button>
                    </div>
                </div>
            </form>
            
            <div class="container3">
                <div>
                    <h2>Total Teams: @ViewData["TotalTimes"]</h2>
                </div>
            </div>
        </div>

        <table class="styled-table">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Abbreviation</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var time in Model)
                {
                    <tr>
                        <td>@time.IdTime</td>
                        <td><img width="50px" height="50px" class="imgTime" src="@time.Img" /></td>
                        <td>@time.Nome</td>
                        <td>@time.Abreviacao</td>
                        <td class="Column-Action">
                            <button id="btnView" onclick="window.location.href='@Url.Action("VizualizarTime", "Time")'">
                                <i class="fas fa-eye"></i>
                            </button>

                            <button id="btnEdit" onclick="window.location.href='@Url.Action("EditarTime", "Time", new { id = time.IdTime })'">
                                <i class="fas fa-edit"></i>
                            </button>

                            <button id="btnDel" onclick="if(confirm('Deseja realmente excluir este item?')) { window.location.href='@Url.Action("DelTime", "Time", new { id = time.IdTime })'; }">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        @if (ViewBag.MsgErro != null)
        {
            <div class="msg-erro">
                <span>@ViewBag.MsgErro</span>
            </div>
        }
    </body>
</html>




