@model IEnumerable<Dashboard_Times.Models.Jogador>
<link href="~/css/times.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Players";
}
<html>
<body>
    <div class="titulo">
        <h1>Players</h1>
    </div>

    <div class="header">
        <div class="container1">
            <a asp-area="" asp-controller="Jogador" asp-action="CadastrarJogador">
                <button type="button">
                    <i class="fas fa-plus"></i> <!-- + -->
                    New Player
                </button>
            </a>
        </div>

        <div class="container1">
            <button id="btnExcel" onclick="window.location.href='@Url.Action("ExportarParaExecel", "Jogador")'">
                <i class="fas fa-download"></i>
                Download
            </button>
        </div>

        <form method="get" asp-action="Index">
            <div class="container2">
                <div>
                    <h2>Filter:</h2>
                </div>
                <div class="search-container">
                    <input value="@ViewBag.txtTermo" name="termo" type="text" placeholder="Enter Team Code or Name" />
                    <button type="submit">
                        <i class="fas fa-search"></i> <!-- Lupa -->
                    </button>
                </div>
            </div>
        </form>

        <div class="container3">
            <div>
                <h2>Total Players: @ViewData["TotalJogadores"]</h2>
            </div>
        </div>
    </div>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Full Name</th>
                <th>Shirt Name</th>
                <th>Age</th>
                <th>Position</th>
                <th>Shirt Number</th>
                <th>Current Team</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jogador in Model)
            {
                <tr>
                    <td>@jogador.IdJogador</td>
                    <td>@jogador.NomeCompleto</td>
                    <td>@jogador.NomeCamisa</td>
                    <td>@jogador.Idade</td>
                    <td>@jogador.RefIdPosicao.Nome</td>
                    <td>@jogador.NumeroCamisa</td>
                    <td>
                        @if(jogador.RefIdTime?.Abreviacao == null){
                            @: Passes Livres
                        }
                        else
                        {
                            @jogador.RefIdTime.Abreviacao
                        }
                    </td>
                    <td class="Column-Action">
                        <button id="btnView" onclick="window.location.href='@Url.Action("VizualizarTime", "Time")'">
                            <i class="fas fa-eye"></i>
                        </button>

                        <button id="btnEdit" onclick="window.location.href='@Url.Action("EditarJogador", "Jogador", new { id = jogador.IdJogador })'">
                            <i class="fas fa-edit"></i>
                        </button>

                        <button id="btnDel" onclick="if(confirm('Deseja realmente excluir este item?')) { window.location.href='@Url.Action("DelJogador", "Jogador", new { id = jogador.IdJogador })'; }">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (ViewBag.MsgErro != null)
    {
        <div class="msg-erro">
            <span>@ViewBag.MsgErro</span>
        </div>
    }
</body>
</html>





