@model Dashboard_Times.Models.EstatisticasJogador
<link href="~/css/estatisticas.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
@{
    ViewData["Title"] = "View Jogador";
}

<html>
<body>
    <div class="titulo">
        <h1>Desempenho</h1>
    </div>
    <div class="row">
        <div class="sessao-desempenho">
            <h2>Ataque</h2>
            <div class="container-ataque">
                @if (@ViewBag.TotalChutes < 10)
                {
                    <h1 class="num-graficoChutes1">@ViewBag.TotalChutes</h1>
                } else
                {
                    <h1 class="num-graficoChutes2">@ViewBag.TotalChutes</h1>
                }
                <h1 class="txt-graficoChutes">Chutes</h1>
                <div id="graficoAtaque1"></div>
                <div id="graficoAtaque2"></div>
            </div>
        </div>
        
        
        @*<button id="btnEdit" onclick="window.location.href='@Url.Action("EditarEstatisticas", "Jogador", new { id = Model.IdJogador })'">
            <i class="fas fa-edit"></i>
        </button>*@
    </div>
</body>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        graficoRoscaAtaque1();
        graficoBarrasAtaque2();
    }

    // grafico de chutes do ataque
    function graficoRoscaAtaque1() {
        var data = google.visualization.arrayToDataTable([
            ['Chutes Totais', 'Quantidade'],
            ['Chutes Fora', @Model.ChutesFora],
            ['Chutes no Gol', @Model.ChutesGol],
            ['Gols Feitos', @Model.Gols],
        ]);

        var options = {
            pieHole: 0.4,
            backgroundColor: 'transparent',
            colors: ['#022c3a', '#355661', '#81969d'], // Personaliza cores
            width: 480,
            height: 350
        };

        var chart = new google.visualization.PieChart(document.getElementById('graficoAtaque1'));
        chart.draw(data, options);
    }



    //grafico de barras do ataque
    function graficoBarrasAtaque2() {
        var data = google.visualization.arrayToDataTable([
            ["Tipo de Desempenho", "Quantidade", { role: "style" }],
            ["Dribles", @Model.Dribles, "#022c3a"],
            ["Assistências", @Model.Assistencias, "#022c3a"],
            ["Cruzamentos", @Model.Cruzamentos, "#022c3a"],
            ["Penaltis Sofridos", @Model.PenaltisSofridos, "#022c3a"],
            ["Impedimentos", @Model.Impedimentos, "#022c3a"]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 1,
            {
                calc: "stringify",
                sourceColumn: 1,
                type: "string",
                role: "annotation"
            },
            2]);

        var options = {
            bar: { groupWidth: "95%" },
            legend: { position: "none" },
            backgroundColor: 'transparent',
            width: 480,
            height: 350
        };
        var chart = new google.visualization.BarChart(document.getElementById("graficoAtaque2"));
        chart.draw(view, options);
    }

</script>
</html>
